# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables & Secrets
config/.env
.env

# Logs & Diagnostics
logs/
*.log
dashboard/data.json
data/

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
